/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}
.item1 { grid-area: title; }
.item2 { grid-area: logo; }
.item3 { grid-area: weather0; }
.item4 { grid-area: sub-title; }
.item5 { grid-area: sub1; }
.item6 { grid-area: text1; }
.item7 { grid-area: res1; }
.item8 { grid-area: sub2; }
.item9 { grid-area: text2; }
.item10 { grid-area: res2; }
.item11 { grid-area: sub3; }
.item12 { grid-area: text3; }
.item13 { grid-area: res3; }

.grid-container {
  display: grid;
  grid-template-areas:
    'title title title title title title title title title title title title title'
    'logo logo logo logo logo logo weather0 weather0 weather0 weather0 weather0 weather0 weather0'
    'sub-title sub-title sub-title sub-title sub-title sub-title sub-title sub-title sub-title sub-title sub-title sub-title sub-title'
    'sub1 sub1 sub1 sub1 sub1 sub1 sub1 sub1 sub1 sub1 sub1 sub1 sub1'
    'text1 text1 text1 text1 text1 text1 res1 res1 res1 res1 res1 res1 res1'
  'sub2 sub2 sub2 sub2 sub2 sub2 sub2 sub2 sub2 sub2 sub2 sub2 sub2'
    'text2 text2 text2 text2 text2 text2 res2 res2 res2 res2 res2 res2 res2'
  'sub3 sub3 sub3 sub3 sub3 sub3 sub3 sub3 sub3 sub3 sub3 sub3 sub3'
    'text3 text3 text3 text3 text3 text3 res3 res3 res3 res3 res3 res3 res3';
  gap: 10px;
  background-color: white;
  padding: 10px;
  grid-template-columns: auto;
  grid-template-rows: 100px 500px 150px 50px 130px 50px 120px 50px 200px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 255);  
  padding: 20px 0;
  
}
.grid-container .item1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: orange;  
}
.grid-container .item4 {
  background: white;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
.bigger-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #040fa4; 
}
.Nota {
  font-size: 1rem;
  font-weight: bold;
  color: #040fa4;
}
.grid-container .item5 {
  background: green;
  text-align: center;
  
}
  .head3 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  }

.infor1 {                     
    float: left;
    width: 60%;
    height: 100px;            
    padding: 10px
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;             
        }
.infor1 span {
  font-size: 1rem;
  font-weight: normal;
  color: grey;
  text-align: left;
  
}
.resul1 {  
  width: 40%;
  height: 100px;            
  padding: 10px  
  font-size: 1rem; 
  color: #000000;
  background: white;
  text-align: right;
  font-weight: bold;  
}
.grid-container .item8 {
  background: green;
  text-align: center;
  
}
  .head4 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  }
.infor2 {                     
    float: left;
    width: 60%;
    height: 100px;            
    padding: 10px
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;             
        }

.resul2 {  
  float: right;
  width: 40%;
  height: 100px;            
  padding: 10px  
  font-size: 1rem; 
  color: #000000;
  background: white;
  text-align: right;
  font-weight: bold;  
        }

.grid-container .item11 {
  background: green;
  text-align: center;
  
}
  .head5 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  }

.infor3 {                     
    float: left;
    width: 60%;
    height: 100px;            
    padding: 10px
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;             
        }

.resul3 {  
  float: right;
  width: 40%;
  height: 100px;            
  padding: 10px  
  font-size: 1rem; 
  color: #000000;
  background: white;
  text-align: right;
  font-weight: bold;  
        }

.Texto-tres {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  text-align: left;  
}
.Texto-tres span {
  font-size: 1rem;
  font-weight: normal;
  color: grey;
  text-align: left;  
}

.Sub-titulo-3 {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;  
  text-align: left;  
}
.Sub-titulo-3 span {
  background-color: green;
  }
.Texto-cuatro {
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  text-align: left;  
}
::-webkit-input-placeholder {
  text-align: center;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(251, 242, 133);
  background: radial-gradient(
    circle,
    rgba(251, 242, 133, 0.6334908963585435) 0%,
    rgba(224, 196, 91, 0.8407738095238095) 35%,
    rgba(230, 224, 113, 1) 100%
  );
  height: 20rem;
  width: 15rem;        
  text-align: center;
  padding-top: 12px;
  border-radius: 16px;
  border: 2px solid rgb(14, 43, 1);
  }
.weather {
  display: flex; 
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}
#location {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}
.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}
.circle {
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}
/*

*/

